html {
	background-color: #2E3440;
}

#terminal {
	background-color: #2E3440;
	border: 2px solid #88C0D0;
	width: 600px;
	height: 400px;
	margin: 100px auto 50px;
	box-shadow: 5px 5px 5px;
	padding: 15px;
	font-family: monospace;
	font-size: 14px;
    line-height: 10px;
}

.links {
	margin-top: 0px;
	color: #A3BE8C;
}

.directory {
	margin-bottom: 0px;
	color: #B48EAD; 
}

.blue-text {
	color: #81A1C1;
	font-weight: bold;
}

.magenta-text {
	color: #B48EAD;
}

.green-text {
	color: #A3BE8C;
}

.argument {
	color: #D8DEE9;
	text-decoration: underline;
}

a {
	text-decoration: none;
	margin-right: 25px;
	color: #81A1C1;
}

a:link {
	color: #81A1C1;
}

a:hover {
	color: #A3BE8C;
	font-weight: bold;
}

a:active {
	color: #81A1C1;
}
